# .coveragerc to control coverage.py
[run]
# we only care about the coverage of the source itself
# otherwise it measures coverage of the tests themselves as well
source =
       desc/

# _version.py is generated code, no need to count it
omit =
     desc/_version.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    if __name__ == .__main__.:

ignore_errors = True

