colorama
h5py >= 3.0.0
# pip install jax >= 0.2.11, <= 0.2.25
# pip install jaxlib >= 0.1.69, <= 0.1.76
matplotlib >= 3.5.0
mpmath >= 1.0.0
netcdf4 >= 1.5.4
numpy >= 1.20.0
# pip install nvgpu
psutil
scipy >= 1.5.0
termcolor
