colorama
h5py >= 3.0.0, < 4.0
interpax >= 0.3.3
jax[cpu] >= 0.3.2, < 0.5.0
matplotlib >= 3.5.0, < 4.0.0
mpmath >= 1.0.0, < 2.0
netcdf4 >= 1.5.4, < 2.0
numpy >= 1.20.0, < 2.0.0
nvgpu
orthax
plotly >= 5.16, < 6.0
psutil
pylatexenc >= 2.0, < 3.0
quadax >= 0.2.2
scipy >= 1.7.0, < 2.0.0
termcolor
