colorama
flatbuffers == 1.12
h5py >= 3.0.0
jax <= 0.2.10
jaxlib <= 0.1.62
matplotlib >= 3.0.0, <= 3.4.2
mpmath >= 1.0.0
netcdf4 >= 1.5.4
numba
numpy >= 1.17.0
nvgpu
psutil
scipy >= 1.3.0
shapely
termcolor
