#Github CI install requirements (fixes certain packages to ensure reproducibility for testing)
-r ../requirements.txt

#For building the docs
sphinx > 3.0.0
sphinx-rtd-theme
sphinx-argparse 
nbsphinx >0.8.5
sphinx_copybutton

#For linting
black == 21.7b0
click == 8.0.4
flake8 >= 4.0.1
pylint >= 2.12.2

#For testing and benchmarking
pytest >= 5.0.0
pytest-cov >= 2.6.0
codecov
pytest-mpl == 0.16.1
pytest-benchmark
markupsafe==2.0.1
nbmake
shapely >= 1.8.2
matplotlib == 3.6.0
#For building
build
