# standard install requirements
-r ../requirements.txt

# notes on versioning:
# "major" packages like sphinx, flake8, pytest etc are pinned to a compatible major
# version, eg ~8.0 includes 8.0.0, 8.0.2 etc. We assume these are more careful
# with their versioning since they are primary infrastructure for lots of stuff
# "minor" packages (all the other ones) are pinned to a maximum specific version
# which will need to be updated regularly, but we don't want to do so without testing.

# building the docs
nbsphinx >= 0.8.12, <= 0.9.7
sphinx >= 5.0, <= 8.2.3
sphinx-argparse >= 0.4.0, != 0.5.0, <= 0.5.2
sphinx_copybutton <= 0.5.2
sphinx-rtd-theme >= 1.0, <= 3.0.2
sphinx-github-style >= 1.0, <= 1.2.2
sphinx-design


# linting
black[jupyter] == 24.10.0
flake8 ~= 7.3
flake8-docstrings >= 1.0.0, <= 1.7.0
flake8-eradicate >= 1.0.0, <= 1.5.0
flake8-isort >= 5.0.0, <= 6.1.1
pre-commit <= 4.3.0

# testing and benchmarking
nbmake <= 1.5.5
pytest ~= 8.4
pytest-benchmark <= 5.2.0
pytest-cov >= 2.6.0, <= 7.0.0
pytest-monitor <= 1.6.6
pytest-mpl == 0.16.1
pytest-split >= 0.8.2, <= 0.10.0
qicna @ git+https://github.com/rogeriojorge/pyQIC/
qsc <= 0.1.3
shapely >= 1.8.2, <= 2.1.2

# building
build
