# standard install requirements
-r ../requirements.txt

# building the docs
nbsphinx > 0.8.5
sphinx > 3.0.0
sphinx-argparse
sphinx_copybutton
sphinx-rtd-theme

# linting
black == 22.10.0
flake8 >= 5.0.0
flake8-docstrings
flake8-eradicate
flake8-isort <= 5.0.0
pydocstyle >= 2.0.0
pylint >= 2.12.2

# testing and benchmarking
codecov
markupsafe == 2.0.1
nbmake
pytest >= 5.0.0
pytest-benchmark
pytest-cov >= 2.6.0
pytest-monitor
pytest-mpl == 0.16.1
pytest-split
qsc
shapely >= 1.8.2

# building
build
