# standard install requirements
colorama
h5py >= 3.0.0
jax >= 0.2.11, <= 0.2.25
jaxlib >= 0.1.69, <= 0.1.76
matplotlib >= 3.5.0
mpmath >= 1.0.0
netcdf4 >= 1.5.4
numpy >= 1.20.0
# pip install nvgpu
psutil
scipy >= 1.5.0
termcolor

# building the docs
nbsphinx > 0.8.5
sphinx > 3.0.0
sphinx-argparse
sphinx-copybutton
sphinx_rtd_theme

# linting
black = 21.7b0
click = 8.0.4
flake8 >= 4.0.1
pylint >= 2.12.2

# testing and benchmarking
codecov
markupsafe = 2.0.1
nbmake
pytest >= 5.0.0
pytest-benchmark
pytest-cov >= 2.6.0
pytest-mpl = 0.16.1
shapely >= 1.8.2

# building
python-build
