# standard install requirements
-r ../requirements.txt

# building the docs
nbsphinx == 0.8.12
sphinx > 3.0.0
# TODO: Remove sphinx-argparse <0.5.0 pin once upstream build issue is fixed
# <https://github.com/sphinx-doc/sphinx-argparse/issues/56>
sphinx-argparse < 0.5.0
sphinx_copybutton
sphinx-rtd-theme >= 1.0, < 2.0
sphinx-github-style >= 1.0, < 2.0


# linting
black == 24.3.0
flake8 >= 5.0.0, <6.0.0
flake8-docstrings >= 1.0.0, <2.0.0
flake8-eradicate >= 1.0.0, <2.0.0
flake8-isort >=5.0.0, < 6.0.0
pre-commit

# testing and benchmarking
markupsafe == 2.0.1
nbmake
pytest ~= 8.0.0
pytest-benchmark
pytest-cov >= 2.6.0
pytest-monitor
pytest-mpl == 0.16.1
pytest-split == 0.8.2
qicna @ git+https://github.com/rogeriojorge/pyQIC/
qsc
shapely >= 1.8.2

# building
build
