name: JAX version tests

on:
  pull_request:
    types: [labeled]
  workflow_dispatch:

jobs:
  build:
    if: ${{ github.event.label.name == 'test_jax' && github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch' }}  
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jaxlib-version: [0.3.0]
        jax-version: [0.3.0, 0.3.1]
        include: 
          - jaxlib-version: 0.1.65
            jax-version: 0.2.10
          - jaxlib-version: 0.1.65
            jax-version: 0.2.11
          - jaxlib-version: 0.1.65
            jax-version: 0.2.12
          - jaxlib-version: 0.1.65
            jax-version: 0.2.13
          - jaxlib-version: 0.1.65
            jax-version: 0.2.14
          - jaxlib-version: 0.1.65
            jax-version: 0.2.15
          - jaxlib-version: 0.1.65
            jax-version: 0.2.16
          - jaxlib-version: 0.1.65
            jax-version: 0.2.17
          - jaxlib-version: 0.1.66
            jax-version: 0.2.10
          - jaxlib-version: 0.1.66
            jax-version: 0.2.11
          - jaxlib-version: 0.1.66
            jax-version: 0.2.12
          - jaxlib-version: 0.1.66
            jax-version: 0.2.13
          - jaxlib-version: 0.1.66
            jax-version: 0.2.14
          - jaxlib-version: 0.1.66
            jax-version: 0.2.15
          - jaxlib-version: 0.1.66
            jax-version: 0.2.16
          - jaxlib-version: 0.1.66
            jax-version: 0.2.17
          - jaxlib-version: 0.1.67
            jax-version: 0.2.10
          - jaxlib-version: 0.1.67
            jax-version: 0.2.11
          - jaxlib-version: 0.1.67
            jax-version: 0.2.12
          - jaxlib-version: 0.1.67
            jax-version: 0.2.13
          - jaxlib-version: 0.1.67
            jax-version: 0.2.14
          - jaxlib-version: 0.1.67
            jax-version: 0.2.15
          - jaxlib-version: 0.1.67
            jax-version: 0.2.16
          - jaxlib-version: 0.1.67
            jax-version: 0.2.17
          - jaxlib-version: 0.1.68
            jax-version: 0.2.10
          - jaxlib-version: 0.1.68
            jax-version: 0.2.11
          - jaxlib-version: 0.1.68
            jax-version: 0.2.12
          - jaxlib-version: 0.1.68
            jax-version: 0.2.13
          - jaxlib-version: 0.1.68
            jax-version: 0.2.14
          - jaxlib-version: 0.1.68
            jax-version: 0.2.15
          - jaxlib-version: 0.1.68
            jax-version: 0.2.16
          - jaxlib-version: 0.1.68
            jax-version: 0.2.17
          - jaxlib-version: 0.1.69
            jax-version: 0.2.10
          - jaxlib-version: 0.1.69
            jax-version: 0.2.11
          - jaxlib-version: 0.1.69
            jax-version: 0.2.12
          - jaxlib-version: 0.1.69
            jax-version: 0.2.13
          - jaxlib-version: 0.1.69
            jax-version: 0.2.14
          - jaxlib-version: 0.1.69
            jax-version: 0.2.15
          - jaxlib-version: 0.1.69
            jax-version: 0.2.16
          - jaxlib-version: 0.1.69
            jax-version: 0.2.17
          - jaxlib-version: 0.1.69
            jax-version: 0.2.18
          - jaxlib-version: 0.1.69
            jax-version: 0.2.19
          - jaxlib-version: 0.1.69
            jax-version: 0.2.20
          - jaxlib-version: 0.1.69
            jax-version: 0.2.21
          - jaxlib-version: 0.1.69
            jax-version: 0.2.22
          - jaxlib-version: 0.1.69
            jax-version: 0.2.23
          - jaxlib-version: 0.1.69
            jax-version: 0.2.24
          - jaxlib-version: 0.1.69
            jax-version: 0.2.25
          - jaxlib-version: 0.1.70
            jax-version: 0.2.10
          - jaxlib-version: 0.1.70
            jax-version: 0.2.11
          - jaxlib-version: 0.1.70
            jax-version: 0.2.12
          - jaxlib-version: 0.1.70
            jax-version: 0.2.13
          - jaxlib-version: 0.1.70
            jax-version: 0.2.14
          - jaxlib-version: 0.1.70
            jax-version: 0.2.15
          - jaxlib-version: 0.1.70
            jax-version: 0.2.16
          - jaxlib-version: 0.1.70
            jax-version: 0.2.17
          - jaxlib-version: 0.1.70
            jax-version: 0.2.18
          - jaxlib-version: 0.1.70
            jax-version: 0.2.19
          - jaxlib-version: 0.1.70
            jax-version: 0.2.20
          - jaxlib-version: 0.1.70
            jax-version: 0.2.21
          - jaxlib-version: 0.1.70
            jax-version: 0.2.22
          - jaxlib-version: 0.1.70
            jax-version: 0.2.23
          - jaxlib-version: 0.1.70
            jax-version: 0.2.24
          - jaxlib-version: 0.1.70
            jax-version: 0.2.25
          - jaxlib-version: 0.1.71
            jax-version: 0.2.10
          - jaxlib-version: 0.1.71
            jax-version: 0.2.11
          - jaxlib-version: 0.1.71
            jax-version: 0.2.12
          - jaxlib-version: 0.1.71
            jax-version: 0.2.13
          - jaxlib-version: 0.1.71
            jax-version: 0.2.14
          - jaxlib-version: 0.1.71
            jax-version: 0.2.15
          - jaxlib-version: 0.1.71
            jax-version: 0.2.16
          - jaxlib-version: 0.1.71
            jax-version: 0.2.17
          - jaxlib-version: 0.1.71
            jax-version: 0.2.18
          - jaxlib-version: 0.1.71
            jax-version: 0.2.19
          - jaxlib-version: 0.1.71
            jax-version: 0.2.20
          - jaxlib-version: 0.1.71
            jax-version: 0.2.21
          - jaxlib-version: 0.1.71
            jax-version: 0.2.22
          - jaxlib-version: 0.1.71
            jax-version: 0.2.23
          - jaxlib-version: 0.1.71
            jax-version: 0.2.24
          - jaxlib-version: 0.1.71
            jax-version: 0.2.25
          - jaxlib-version: 0.1.72
            jax-version: 0.2.10
          - jaxlib-version: 0.1.72
            jax-version: 0.2.11
          - jaxlib-version: 0.1.72
            jax-version: 0.2.12
          - jaxlib-version: 0.1.72
            jax-version: 0.2.13
          - jaxlib-version: 0.1.72
            jax-version: 0.2.14
          - jaxlib-version: 0.1.72
            jax-version: 0.2.15
          - jaxlib-version: 0.1.72
            jax-version: 0.2.16
          - jaxlib-version: 0.1.72
            jax-version: 0.2.17
          - jaxlib-version: 0.1.72
            jax-version: 0.2.18
          - jaxlib-version: 0.1.72
            jax-version: 0.2.19
          - jaxlib-version: 0.1.72
            jax-version: 0.2.20
          - jaxlib-version: 0.1.72
            jax-version: 0.2.21
          - jaxlib-version: 0.1.72
            jax-version: 0.2.22
          - jaxlib-version: 0.1.72
            jax-version: 0.2.23
          - jaxlib-version: 0.1.72
            jax-version: 0.2.24
          - jaxlib-version: 0.1.72
            jax-version: 0.2.25
          - jaxlib-version: 0.1.73
            jax-version: 0.2.10
          - jaxlib-version: 0.1.73
            jax-version: 0.2.11
          - jaxlib-version: 0.1.73
            jax-version: 0.2.12
          - jaxlib-version: 0.1.73
            jax-version: 0.2.13
          - jaxlib-version: 0.1.73
            jax-version: 0.2.14
          - jaxlib-version: 0.1.73
            jax-version: 0.2.15
          - jaxlib-version: 0.1.73
            jax-version: 0.2.16
          - jaxlib-version: 0.1.73
            jax-version: 0.2.17
          - jaxlib-version: 0.1.73
            jax-version: 0.2.18
          - jaxlib-version: 0.1.73
            jax-version: 0.2.19
          - jaxlib-version: 0.1.73
            jax-version: 0.2.20
          - jaxlib-version: 0.1.73
            jax-version: 0.2.21
          - jaxlib-version: 0.1.73
            jax-version: 0.2.22
          - jaxlib-version: 0.1.73
            jax-version: 0.2.23
          - jaxlib-version: 0.1.73
            jax-version: 0.2.24
          - jaxlib-version: 0.1.73
            jax-version: 0.2.25
          - jaxlib-version: 0.1.74
            jax-version: 0.2.14
          - jaxlib-version: 0.1.74
            jax-version: 0.2.15
          - jaxlib-version: 0.1.74
            jax-version: 0.2.16
          - jaxlib-version: 0.1.74
            jax-version: 0.2.17
          - jaxlib-version: 0.1.74
            jax-version: 0.2.18
          - jaxlib-version: 0.1.74
            jax-version: 0.2.19
          - jaxlib-version: 0.1.74
            jax-version: 0.2.20
          - jaxlib-version: 0.1.74
            jax-version: 0.2.21
          - jaxlib-version: 0.1.74
            jax-version: 0.2.22
          - jaxlib-version: 0.1.74
            jax-version: 0.2.23
          - jaxlib-version: 0.1.74
            jax-version: 0.2.24
          - jaxlib-version: 0.1.74
            jax-version: 0.2.25
          - jaxlib-version: 0.1.74
            jax-version: 0.2.26
          - jaxlib-version: 0.1.74
            jax-version: 0.2.27
          - jaxlib-version: 0.1.74
            jax-version: 0.2.28
          - jaxlib-version: 0.1.74
            jax-version: 0.3.0
          - jaxlib-version: 0.1.74
            jax-version: 0.3.1
          - jaxlib-version: 0.1.75
            jax-version: 0.2.14
          - jaxlib-version: 0.1.75
            jax-version: 0.2.15
          - jaxlib-version: 0.1.75
            jax-version: 0.2.16
          - jaxlib-version: 0.1.75
            jax-version: 0.2.17
          - jaxlib-version: 0.1.75
            jax-version: 0.2.18
          - jaxlib-version: 0.1.75
            jax-version: 0.2.19
          - jaxlib-version: 0.1.75
            jax-version: 0.2.20
          - jaxlib-version: 0.1.75
            jax-version: 0.2.21
          - jaxlib-version: 0.1.75
            jax-version: 0.2.22
          - jaxlib-version: 0.1.75
            jax-version: 0.2.23
          - jaxlib-version: 0.1.75
            jax-version: 0.2.24
          - jaxlib-version: 0.1.75
            jax-version: 0.2.25
          - jaxlib-version: 0.1.75
            jax-version: 0.2.26
          - jaxlib-version: 0.1.75
            jax-version: 0.2.27
          - jaxlib-version: 0.1.75
            jax-version: 0.2.28
          - jaxlib-version: 0.1.75
            jax-version: 0.3.0
          - jaxlib-version: 0.1.75
            jax-version: 0.3.1
          - jaxlib-version: 0.1.76
            jax-version: 0.2.14
          - jaxlib-version: 0.1.76
            jax-version: 0.2.15
          - jaxlib-version: 0.1.76
            jax-version: 0.2.16
          - jaxlib-version: 0.1.76
            jax-version: 0.2.17
          - jaxlib-version: 0.1.76
            jax-version: 0.2.18
          - jaxlib-version: 0.1.76
            jax-version: 0.2.19
          - jaxlib-version: 0.1.76
            jax-version: 0.2.20
          - jaxlib-version: 0.1.76
            jax-version: 0.2.21
          - jaxlib-version: 0.1.76
            jax-version: 0.2.22
          - jaxlib-version: 0.1.76
            jax-version: 0.2.23
          - jaxlib-version: 0.1.76
            jax-version: 0.2.24
          - jaxlib-version: 0.1.76
            jax-version: 0.2.25
          - jaxlib-version: 0.1.76
            jax-version: 0.2.26
          - jaxlib-version: 0.1.76
            jax-version: 0.2.27
          - jaxlib-version: 0.1.76
            jax-version: 0.2.28
          - jaxlib-version: 0.1.76
            jax-version: 0.3.0
          - jaxlib-version: 0.1.76
            jax-version: 0.3.1	
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r tests/requirements.txt
          pip uninstall flatbuffers -y
          pip install "jaxlib==${{ matrix.jaxlib-version }}"
          pip install "jax==${{ matrix.jax-version }}"	  
      - name: Test with pytest
        run: |
          pwd
          lscpu
          python -m pytest --durations=0 --mpl --maxfail=1
