name: Dependency test Matplotlib

on:
  pull_request:
    types: [labeled, synchronize]
  workflow_dispatch:

jobs:
  mpl_tests:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'test_mpl') || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        mpl-version: [3.7.3, 3.7.4, 3.7.5, 3.8.0, 3.8.1, 3.8.2,
                      3.8.3, 3.8.4, 3.9.0, 3.9.2, 3.9.3, 3.10.0,
                      3.10.1]
                      # Note: 3.10.0 and 3.10.1 have a slightly different
                      # plot size which cause the test_plot_basis_fourierseries
                      # to fail. If you change the version for unit/regression tests
                      # you should change the benchmark image as well.

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: pip
      - name: Install dependencies with given Matplotlib version
        run: |
          sed -i '/matplotlib/d' ./requirements.txt
          sed -i '1i\matplotlib == ${{ matrix.mpl-version }}' ./requirements.txt
          cat ./requirements.txt
          pip install -r ./devtools/dev-requirements.txt

      - name: Action Details
        run: |
          pwd
          lscpu
          pip list

      - name: Test with pytest
        run: |
          python -m pytest tests/test_plotting.py --durations=0 --mpl
