name: Dependecy test Matplotlib

on:
  pull_request:
    types: [labeled]
  workflow_dispatch:

jobs:
  mpl_tests:
    if: ${{ github.event.label.name == 'test_mpl' && github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        mpl-version: [3.0.0]
        include:
          - mpl-version: 3.0.0
          - mpl-version: 3.0.1
          - mpl-version: 3.0.2
          - mpl-version: 3.0.3
          - mpl-version: 3.1.0
          - mpl-version: 3.1.1
          - mpl-version: 3.1.2
          - mpl-version: 3.1.3
          - mpl-version: 3.2.0
          - mpl-version: 3.2.1
          - mpl-version: 3.2.2
          - mpl-version: 3.3.0
          - mpl-version: 3.3.1
          - mpl-version: 3.3.2
          - mpl-version: 3.3.3
          - mpl-version: 3.3.4
          - mpl-version: 3.4.0
          - mpl-version: 3.4.1
          - mpl-version: 3.4.2
          - mpl-version: 3.4.3
          - mpl-version: 3.5.0
          - mpl-version: 3.5.1
          - mpl-version: 3.5.2
          - mpl-version: 3.5.3
          - mpl-version: 3.6.0
          - mpl-version: 3.6.1
          - mpl-version: 3.6.2
          - mpl-version: 3.6.3
          - mpl-version: 3.7.0
          - mpl-version: 3.7.1
          - mpl-version: 3.7.2

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r devtools/dev-requirements.txt
          pip install "matplotlib==${{ matrix.mpl-version }}"
      - name: Test with pytest
        run: |
          pwd
          lscpu
          python -m pytest tests/test_plotting.py --durations=0 --mpl --maxfail=1
