name: Unit tests

on: 
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - 'devtools/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r devtools/dev-requirements.txt
          pip install matplotlib==3.5.0
      - name: Test with pytest
        run: |
          pwd
          lscpu
          python -m pytest -m unit --durations=0 --cov-report xml:cov.xml --cov-config=setup.cfg --cov=desc/ --mpl --mpl-results-path=mpl_results.html --mpl-generate-summary=html
      - name: save coverage file and plot comparison results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: |
            ./cov.xml
            ./mpl_results.html
      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          name: codecov-umbrella # optional
          files: ./cov.xml
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

